.App {
  color: white;
  text-align: center;
}

.App-header {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(10, 10, 42);
}

.container {
  width: 50rem;
  height: 50rem;
}